<header class="container-fluid text-center py-3 pageTop">
    <div id="logoContainer">
        <img
            id="logoArcade"
            src="/img/arcade.jpeg"
            alt="Arcade logo"
            class="mb-2"
        />
    </div>
    <nav class="navBar1">
        <a href="/" class="buttonNavBar">Inicio</a>
        <a href="#" class="buttonNavBar">Reglas</a>
        <a href="#" class="buttonNavBar">Sobre Nosotros</a>
        <a href="/newGame" class="buttonNavBar">Nuevo Juego</a>
    </nav>
    {{#user}} <!-- LOGGED IN -->
    <div class="userProfile">
        <img src="{{profile_src}}" alt="Foto de perfil"/>
        <span>{{nombre}}</span>
        <ul class="submenu">
            <li><a href="/profile">Perfil</a></li>
            <li><a href="/newGame">Agregar nuevo juego</a></li>
            <li><a href="/logout">Cerrar sesión</a></li>
        </ul>
    </div>
    {{/user}}

    {{^user}} <!-- NOT LOGGED IN -->
    <div class="userProfile">
        <img src="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBhAIBwgPEBUS
        FxEXFhMVDg8PEQ8QGR0XFhcWFhcZHSghJCYlHRYWITEtJSktLi46Fx8zODMsNygtLisBCgoKDQ0NDg0NDy0ZF
        Rk3LSsrKysrLSsrKysrNysrKysrKys3KysrKysrKysrKysrKysrKysrKysrKysrKysrK//AABEIAN4A3gMBIg
        ACEQEDEQH/xAAbAAEAAwEBAQEAAAAAAAAAAAAABAUGAwIBB//EADUQAQABAwIBCQYFBQEAAAAAAAABAgMEBRE
        hEhMxQVFhcZGhImKBscHRBhSSouEyM0JSgiP/xAAVAQEBAAAAAAAAAAAAAAAAAAAAAf/EABYRAQEBAAAAAAAA
        AAAAAAAAAAABEf/aAAwDAQACEQMRAD8A/bAFQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
        AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQszVcfFnk78ursjq8Z6lfq2q1VTNjFq4ddUdM90d3
        epjDVpe1vKrn/zimn4cqfOUadTzZ6cir0j6Igqam0arm0z/fmfGIlKsa7djhftxVHbHsz9lQGGtfiZtjLjezX
        x7OiqPg7sXRXVRXFdEzEx1xO0w0elalGXTzd3hXHwiqO2O9FlWIAAAAAAAAAAAAAAAAACt1vMnHx+bon2q9/G
        mnrn6LJlNTyPzGZVXE8I4R4QQqIAqAAAAD3arqtXIuUTtMdHdLwA2GFk05WPF6nr6Y7KuuHZQ/h2/NN2qxVPC
        rjHjHT6fJfIAAoAAAAAAAAAAAAADlmXOZxK7nZTPntwY5p9bq5OnVR28mPX+GYWJQAAAAAAAEjAu8zm27m/+U
        eU8J+bXMVEzE7w2lE8qiKo64j1hKR9AFAAAAAAAAAAAAAAVn4hnbBiPep+Us40f4hjfBifep+Us4sSgAAAAAA
        AE9DY4k74lufdp+THT0NjiRtiUR7tPyKR1ARQAAAAAAAAAAAAAEPV7c3NOriI6Np8p3ZVtpiJjaY4fRkMzHnF
        yZtVdXR309UrErgAAAAAAAD1bomu5FEdMzEectpERTG0M7oONN3K56qOFHrV1fdokqwAAAAAAAAAAAAAAAAQ9
        RwaM21tvtVHRP0nuTAGOyca7jV8i9RtPpPhPW5Nrct0XKOTcpiY7JjeFfe0XEuTvRFVHhO8eUmmM0LyrQI/wy
        fOj+XidAu9WRT+mV1MUwuY0C515FP6ZdaNAtxPt5E/CmINMUKXg6fezKt6Y2p/2mOHw7ZX1jSsOzPKi1yp96e
        V6dCbEREbRBq4541i3j2YtWqeEecz2z3ugIAAAAAAAAAAAAAAAAAAA8Xb1qzTyr1yKY752V9/XMa3wtU1V/Dk
        x6gsxQXNevz/AG7NEeMzV9nGdazZ6Jp/QYa0ozca3mR08if+f5d7Wv1xwu2InwmY+Zhq9FfY1jEvcKqpon3o4
        ecJ9MxVHKpnePHeJB9AAAAAAAAAAAAAAAAByy8m3iWucuz96p7IB0rrpt0TXcqiIjrmdohSZutzM8jEp/6mOP
        wj7q/OzbubXvXO0dVO/CPvPeirhr3cuV3a+Xcrmqe2Z3l4AQAAAAdsbKv41W9m5Md3TE+MOIDRYOs2r0xRkRy
        J7d/Zn7LRiVlpuqV421u/PKo85p8O2O5MWVpB8oqproiqid4nr6ph9AAAAAAAAAAAABzyL1GPam7cnhHr3Qyu
        bl3Mu/zlc+EdVMJOtZn5jI5u3Ps0fuq65+iuWJQAAAAAAAAAAAFlpGoTi181dq9if2z2+Ha0kTvG8SxK/wBBz
        ZuUflbk8af6e+ns+CVYtwAAAAAAAAAEHV8r8thzyZ41cI7u2fJOZrXb/O5vNxPCjh8emQquAVAAAAAAAAAAAA
        B7s3arN2LlE8Ynd4AbOxdpvWYu0TwqiJe1R+Hb/Ks1WJn+njHhPT6/NbooAAAAAAAD5XVFFE1T1bz5MZcrm5X
        NyemZmfNq9UrmjTrlUf6z68PqyREoAoAAAAAAAAAAAAAAn6Ld5rUKY34Vb0+fR6xDTsbj1TRfprjqmn5tnKVY+AAAA//Z" alt="Usuario Invitado"/>
        <span>Usuario Invitado</span>
        <ul class="submenu">
            <li><a href="/login">Iniciar Sesion</a></li>
            <!-- Aquí está el cambio: en vez de href="/signup" llamamos al toggleForm -->
            <li><a href="/signup">Registrarse</a></li>
        </ul>
    </div>
    {{/user}}
</header>