.background1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.navBar1{
    min-height: 50px;
    max-height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buttonNavBar{
    padding: 10px;
    max-height: 50px;
    width: 25%;
    color: white;
    border: solid 1px white;
    border-radius: 6px;
    text-align: center;
}

.buttonNavBar:hover{
    color: black;
    background-color: white;
    transition: .5s;
}

.card{
    background-color: rgb(19, 181, 19);
    color: black;
}

.card-img{
    max-height: 25vh;
}

#logoCasino{
    min-height: 50px;
    max-height: 50px;
}

#catalogoJuegos{
    margin-top: 30px;
}